spring:
  profiles:
    active: dev
  thymeleaf:
    cache: false

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  #type-aliases-package: com.example.entity
  configuration:
    map-underscore-to-camel-case: true

logging:
  logback:
    rollingpolicy:
      max-history: 30
      max-file-size: 10MB
  file:
    path: "./logs"
  level:
    root: info
    com.woody: debug
